<html>
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="resource:/styles/light.css">
    </head>
    <body>
        <div id="header" class="header-content">
            <h1>About</h1>
        </div>
        <div id="content" class="main-content">
            <p>CyberCraft is a tool for viewing, validating and converting OSCAL (Open Security Controls Assessment Language) content.</p>
            <p>For more information about OSCAL, visit the <a href="https://pages.nist.gov/OSCAL">OSCAL website</a>.</p>
            <p>For more information about CyberCraft, visit the <a href="https://github.com/ruf-risk/cybercraft">GitHub repository</a>.</p>
        </div>

</html>
