    <div class="project-container">
        <div class="model-box assessment-results unpopulated">
            Assessment Results
            <div id="assessment-results-validity" class="icon top-left hidden"></div>    
            <div id="assessment-results-action" class="icon icon-plus bottom-right good"></div>
        </div>
        <div class="model-box assessment-plan unpopulated">
            Assessment Plan
            <div id="assessment-plan-validity" class="icon top-left hidden"></div>
            <div id="assessment-plan-action" class="icon icon-plus bottom-right good"></div>
        </div>
        <div class="model-box poam unpopulated">
            POA&M
            <div id="poam-validity" class="icon top-left hidden"></div>
            <div id="poam-action" class="icon icon-plus bottom-right good"></div>
        </div>
        <div class="model-box cdef unpopulated">
            Component Definitions
            <div id="system-security-validity" class="icon top-left hidden"></div>
            <div id="ssp-action" class="icon icon-plus bottom-right good"></div>
        </div>
        <div class="model-box system-security-plan unpopulated">
            System Security Plan
            <div id="system-security-validity" class="icon top-left hidden"></div>
            <div id="ssp-action" class="icon icon-plus bottom-right good"></div>
        </div>
        <div class="model-box controls unpopulated">
            Controls
            <div id="controls-validity" class="icon top-left hidden"></div>
            <div id="controls-action" class="icon icon-plus bottom-right good"></div>
        </div>
    </div>

