# Versions last updated Nov 30, 2024
PySide6
qasync
pyqtdarktheme-fork
# qt-material-icons
Jinja2
aiohttp
pytz
tzlocal

saxonche == 12.5.0
elementpath == 4.7.0
# jsonschema_rs == 0.26.1
# xmlschema == 3.4.3
# xmltodict == 0.14.2
# pyyaml == 6.0.2

# markupsafe == 3.0.2

loguru == 0.7.3
# python-dotenv == 1.0.1
requests == 2.32.3


